<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test_frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test_frontend.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="/images/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index">@Localizer["home"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Hub">@Localizer["hub"]</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Localizer["services"]
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="listadesplegable">
                                    <li><a class="dropdown-item text-white" href="#">@Localizer["dp1"]</a></li>
                                    <li><a class="dropdown-item text-white" href="#">@Localizer["dp2"]</a></li>
                                    <li><a class="dropdown-item text-white" href="#">@Localizer["dp3"]</a></li>
                                    <li><a class="dropdown-item text-white" href="#">@Localizer["dp4"]</a></li>
                                    @* <li><hr class="dropdown-divider"></li> *@
                                    <li><a class="dropdown-item text-white" href="#">@Localizer["dp5"]</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Privacy">@Localizer["blog"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Privacy">@Localizer["contact"]</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Thread.CurrentThread.CurrentUICulture.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="listadesplegable">
                                    <li> <a class="dropdown-item text-white" href="/Lang?culture=es">ES</a></li>
                                    <li><a class="dropdown-item text-white" href="/Lang?culture=en">EN</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
           
        </header>
    </div>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <div class="container">
    <footer>
        <div class="container">
            &copy; 2024 - test_frontend - <a asp-area="" asp-page="/Hub">@Localizer["hub"]</a>
        </div>
    </footer>
    </div>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>