@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="flex-container" id="divtitulo">
    <div class="container-fluid">
        <h1 id="t1" class="display-8">@Localizer["title1"]</h1>
        <h1 id="t2" class="display-8">@Localizer["title2"]</h1>
        <h6>@Localizer["subtitle"]</h6>
    </div>
 
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="/images/card1.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp1"]</h5>
                    <p class="card-content" id="tarjetas">@Localizer["content1"]</p>
                    <button class="ver-mas">@Localizer["btn"]</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/card2.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp2"]</h5>
                    <p class="card-content" id="tarjetas">@Localizer["content2"]</p>
                    <button class="ver-mas">@Localizer["btn"]</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/card1.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp3"]</h5>
                    <p class="card-content" id="tarjetas">@Localizer["content3"]</p>
                    <button class="ver-mas">@Localizer["btn"]</button>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/card4.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp4"]</h5>
                    <p class="card-content" id="tarjetas">@Localizer["content4"]</p>
                    <button class="ver-mas">@Localizer["btn"]</button>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/card5.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp5"]</h5>
                    <p class="card-content" id="tarjetas">@Localizer["content5"]</p>
                    <button class="ver-mas">@Localizer["btn"]</button>
                </div>
            </div>
        </div>
    </div> 
    <div class="marquee">
        <ul class="marquee__content">
            <li class="marquee__item">&nbsp;Ualá &bull; </li>
            <li class="marquee__item">&nbsp;levely &bull; </li>
            <li class="marquee__item">&nbsp;klipclub &bull; </li>
            <li class="marquee__item">&nbsp;accedo. &bull;</li>
            <li class="marquee__item">&nbsp;alltruismo &bull;</li>
            <li class="marquee__item">&nbsp;ya te ayudo &bull;</li>
            <li class="marquee__item">&nbsp;Inglés de una &bull;</li>
            <li class="marquee__item">&nbsp;TUTROK &bull;</li>
            <li class="marquee__item">&nbsp;ATG &bull;</li>
            <li class="marquee__item">&nbsp;cfs &bull;</li>
            <li class="marquee__item">&nbsp;Efipay &bull;</li>

            <!--  Repeated marquee items -->
            <li class="marquee__item">&nbsp;Ualá &bull; </li>
            <li class="marquee__item">&nbsp;levely &bull; </li>
            <li class="marquee__item">&nbsp;klipclub &bull; </li>
            <li class="marquee__item">&nbsp;accedo. &bull;</li>
            <li class="marquee__item">&nbsp;alltruismo &bull;</li>
            <li class="marquee__item">&nbsp;ya te ayudo &bull;</li>
            <li class="marquee__item">&nbsp;Inglés de una &bull;</li>
            <li class="marquee__item">&nbsp;TUTROK &bull;</li>
            <li class="marquee__item">&nbsp;ATG &bull;</li>
            <li class="marquee__item">&nbsp;cfs &bull;</li>
            <li class="marquee__item">&nbsp;Efipay &bull;</li>
        </ul>
    </div>
    <div class="text-center">
        <video autoplay="autoplay" loop="loop" muted class="col-12">
            <source src="https://pantherahub.com/videos/home-desktop.mp4" type="video/mp4">
        </video>
    </div>
    <div>
        <h1 id="t1" class="display-8">@Localizer["title3"]</h1>
        <h1 id="t2" class="display-8">@Localizer["title4"]</h1>
        <h5 class="display-10">@Localizer["subtitle2"]</h5>
        <h5 class="display-10">@Localizer["subtitle3"]</h5>
    </div>
    <div class="carousel-container">
        <div class="carousel">
            <div id="card" class="card">
                <img style="width: 100%; height: auto;flex: 0 0 auto;margin-right: 20px;"
                     src="/images/celulares.png"
                     alt="Imagen 1" />
                <p class="card-content" id="contenidoslider">@Localizer["content4"]</p>
                <button class="ver-mas">@Localizer["btn"]</button>
            </div>
            <div id="card" class="card">
                <img style="width: 100%; height: auto;flex: 0 0 auto;margin-right: 20px;"
                     src="/images/celulares.png"
                     alt="Imagen 2" />
                <p class="card-content" id="contenidoslider">@Localizer["content4"]</p>
                <button class="ver-mas">@Localizer["btn"]</button>
            </div>
            <div id="card" class="card">
                <img style="width: 100%; height: auto;flex: 0 0 auto;margin-right: 20px;"
                     src="/images/celulares.png"
                     alt="Imagen 3" />
                <p class="card-content" id="contenidoslider">@Localizer["content4"]</p>
                <button class="ver-mas">@Localizer["btn"]</button>
            </div>
            <div id="card" class="card">
                <img style="width: 100%; height: auto;flex: 0 0 auto;margin-right: 20px;"
                     src="/images/celulares.png"
                     alt="Imagen 4" />
                <p class="card-content" id="contenidoslider">@Localizer["content4"]</p>
                <button class="ver-mas">@Localizer["btn"]</button>
            </div>
            <div id="card" class="card">
                <img style="width: 100%; height: auto;flex: 0 0 auto;margin-right: 20px;"
                     src="/images/celulares.png"
                     alt="Imagen 5" />
                <p class="card-content" id="contenidoslider">@Localizer["content4"]</p>
                <button class="ver-mas">@Localizer["btn"]</button>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="div-img-form"> 
    <div class="row">
        <div class="col-6">
          <img id="imgrv" class="img-fluid" src="/images/realidadvirtual.png" alt="" />
        </div>
        <div class="col-6">
            <form class="form-container">
            <div class="inputs">
                <input id= "input" type="text" placeholder="Nombre y apellido" class="border-white">
                <input id= "input" type="text" placeholder="Nombre de la empresa" class="border-white">
                <input id= "input" type="text" placeholder="Correo" class="border-white">
                <input id= "input" type="text" placeholder="Teléfono" class="border-white">
            </div>
            <div class="container-fluid">
               <div class="row">
                    <div class="col-5">
                        <div class="checkbox-container">
                            <input type="checkbox" id="checkbox1" class="real-checkbox" name="checkbox1">
                            <label for="checkbox1" class="custom-checkbox">@Localizer["dp1"]</label>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" id="checkbox2" class="real-checkbox" name="checkbox2">
                            <label for="checkbox2" class="custom-checkbox">@Localizer["dp2"]</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="checkbox-container">
                            <input type="checkbox" id="checkbox3" class="real-checkbox" name="checkbox3">
                            <label for="checkbox3" class="custom-checkbox">@Localizer["dp3"]</label>
                            <div class="checkbox-container">
                            <input type="checkbox" id="checkbox2" class="real-checkbox" name="checkbox4">
                            <label for="checkbox4" class="custom-checkbox">@Localizer["dp4"]</label>
                        </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="checkbox-container">
                            <input type="checkbox" id="checkbox2" class="real-checkbox" name="checkbox5">
                            <label for="checkbox5" class="custom-checkbox">@Localizer["dp5"]</label>
                        </div>
                    </div>


                    
               </div>
            </div>
            <button type="submit" id="btn-form">Trabajemos</button>
            </form>
        </div>
        </div>
        </div>
    </div>
   



<script>
    $(document).ready(function () {
        $(".card").mouseenter(function () {
            $(this).find("img").css("filter", "blur(5px)");
        });

        $(".card").mouseleave(function () {
            $(this).find("img").css("filter", "none");
        });
    });
    
</script>
  