@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
@* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script> *@

@section Scripts{
$(document).ready(function() {
  $(".card").mouseenter(function(){
    $(this).find("img").css("filter", "blur(5px)");
  });

  $(".card").mouseleave(function(){
    $(this).find("img").css("filter", "none");
  });
});
}


<div class="flex-container" id="divtitulo">
    <h1 id="t1" class="display-8">@Localizer["title1"]</h1>
    <h1 id="t2" class="display-8">@Localizer["title2"]</h1>
    <h6>@Localizer["subtitle"]</h6>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="/images/card1.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp1"]</h5>
                    <p class="card-content">@Localizer["content1"]</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/card2.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp2"]</h5>
                    <p class="card-content">@Localizer["content2"]</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/card1.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp3"]</h5>
                    <p class="card-content">@Localizer["content3"]</p>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/card4.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp4"]</h5>
                    <p class="card-content">@Localizer["content4"]</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/card5.jpg"
                         class="card-img"
                         alt="Card Image" />
                    <h5 class="card-title">@Localizer["dp5"]</h5>
                    <p class="card-content">@Localizer["content5"]</p>
                </div>
            </div>
        </div>
    </div>
</div>

